<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
    </head>

    <body>
        <h1>Login</h1>
        <img th:src="@{/images/TacoCloud.png}"/>

        <form method="POST" th:action="@{/login}">
            <label for="username">Email: </label>
            <input type="email" name="username" id="username" required>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>

            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <input type="submit" value="Login"/>
        </form>
        <p>New here? Click<a th:href="@{/registration}"> here</a> to register.</p>
    </body>
</html>
